<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::section})}">

<body>
    <section>
        <h2>Add new Customer:</h2>

        <div class="error" th:text="${error}"></div>

        <form action="#" th:action="@{/customers/new}" th:object="${customer}" method="post">
            <label for="name">Name:</label><input name="name" th:field="*{name}" /><br />
            <label for="vat">VAT:</label><input name="vat" th:field="*{vat}" /><br />
            <label for="notes">Notes:</label><textarea name="notes" th:field="*{notes}" rows="5"
                cols="33"></textarea><br />
            <input type="submit" value="Add" />
        </form>
    </section>
</body>

</html>